<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments::page_header('Products')}"></head>
<body>
<div th:replace="~{fragments::navbar}"></div>
<div class="container-fluid">
    <div>
        <h1>Manage Products</h1>
        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
            <a th:href="@{/products/new}" class="fa-solid fa-folder-plus fa-2x"></a>
            <a class="fa-solid fa-file-csv fa-2x icon-dark" th:href="@{/products/export/csv}"></a>
        </th:block>
    </div>

    <form th:action="@{/{moduleUrl}/page/1(moduleUrl=${moduleUrl})}" class="form-inline my-3">
        <div class="mr-2">
            Category:
            <select name="categoryId" class="form-control">
                <option value="0">All</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                        th:selected="${categoryId} == ${category.id}"></option>
            </select>
        </div>

        <div class="input-group">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            <input type="search" name="keyword" th:value="${keyword}" class="form-control"
                   placeholder="Search..." aria-label="Search" aria-describedby="button-addon"/>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary" id="button-addon">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a type="button" class="btn btn-secondary ml-2" th:href="@{/{moduleUrl}(moduleUrl=${moduleUrl})}">
                <i class="fa-solid fa-eraser"></i> Clear
            </a>
        </div>
    </form>

    <div th:if="${message != null}" class="alert alert-success text-center" th:text="${message}"></div>

    <div class="full-details">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>
                    <th:block th:replace="~{fragments::sort_link('id', 'ID')}"></th:block>
                </th>
                <th>Main Image</th>
                <th>
                    <th:block th:replace="~{fragments::sort_link('name', 'Product Name')}"></th:block>
                </th>
                <th>
                    <th:block th:replace="~{fragments::sort_link('brand', 'Brand')}"></th:block>
                </th>
                <th>
                    <th:block th:replace="~{fragments::sort_link('category', 'Category')}"></th:block>
                </th>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <th>
                        Enabled
                    </th>
                </th:block>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td>
                    <img th:src="@{${product.mainImagePath}}" style="width: 120px" class="img-fluid">
                </td>
                <td><a class="link-detail" th:text="${product.name}" th:href="@{/products/detail/{id}(id=${product.id})}"></a></td>
                <td th:text="${product.brand.name}"></td>
                <td th:text="${product.category.name}"></td>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <td>
                        <th:block th:replace="~{fragments::status(${product.id}, ${product.enabled})}"></th:block>
                    </td>
                </th:block>
                <td>
                    <th:block th:replace="~{fragments::detail(${product.id})}"></th:block>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                        &nbsp;
                        <th:block th:replace="~{fragments::edit(${product.id})}"></th:block>
                    </th:block>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        &nbsp;
                        <th:block th:replace="~{fragments::delete(${product.id})}"></th:block>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="product : ${products}" class="row m-1">
            <div class="col-4">
                <img th:src="@{${product.mainImagePath}}" style="width: 100px">
            </div>
            <div class="col-8">
                <div th:text="${product.name}"></div>
                <div class="mt-2">
                    <th:block th:replace="~{fragments::status(${product.id}, ${product.enabled})}"></th:block>
                    &nbsp;
                    <th:block th:replace="~{fragments::edit(${product.id})}"></th:block>
                    &nbsp;
                    <th:block th:replace="~{fragments::delete(${product.id})}"></th:block>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="~{fragments::pagination('product')}"></div>

    <div th:replace="~{fragments::footer}"></div>

    <div th:replace="~{modal_fragments::emptyModal}"></div>

    <div th:replace="~{modal_fragments::confirmModal}"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    const moduleUrl = "[[@{/products}]]";
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteModal($(this), 'category');
        })

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            showDetailModal($(this), 'product');
        })

        function showDetailModal(link, product) {
            var id = link.attr("href").split("/").pop();
            var url = moduleUrl + "/detail/" + id;
            $.get(url, function (data) {
                $("#detailModal .modal-content").html(data);
                $("#detailModal").modal("show");
            });
        }
    })
</script>

</body>
</html>
