<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="page_header(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[[${title}]] - TekTrove Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <th:block th:if="${isAddRichText}">
        <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>
        <script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}"></script>
    </th:block>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand img-fluid" th:href="@{/}">
            <img style="max-width: 100px; height: auto;" th:src="@{/images/logo.png}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link" th:href="@{/categories}">Categories</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link" th:href="@{/brands}">Brands</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link" th:href="@{/customers}">Customers</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson','Shipper')">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link" th:href="@{/reports}">Sales Report</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                    <a class="nav-link" th:href="@{/articles}">Articles</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Editor')">
                    <a class="nav-link" th:href="@{/menus}">Menus</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/settings}">Settings</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/settings#general}">General</a>
                        <a class="dropdown-item" th:href="@{/settings#countries}">Countries</a>
                        <a class="dropdown-item" th:href="@{/settings#states}">States</a>
                        <a class="dropdown-item" th:href="@{/settings#mailServer}">Mail Server</a>
                        <a class="dropdown-item" th:href="@{/settings#mailTemplates}">Mail Templates</a>
                        <a class="dropdown-item" th:href="@{/settings#payment}">Payment</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <span sec:authentication="principal.fullName"></span>
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/account}">Account</a>
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item">Logout <i class="fas fa-sign-out-alt"></i>
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<form th:action="@{/{moduleUrl}/page/1(moduleUrl=${moduleUrl})}" class="form-inline my-3" th:fragment="search_form">
    <div class="input-group">
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>
        <input type="search" name="keyword" th:value="${keyword}" class="form-control" required
               placeholder="Search..." aria-label="Search" aria-describedby="button-addon"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" id="button-addon">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <a type="button" class="btn btn-secondary ml-2" th:href="@{/{moduleUrl}(moduleUrl=${moduleUrl})}">
            <i class="fa-solid fa-eraser"></i> Clear
        </a>
    </div>
</form>

<th:block th:fragment="detail(entityId)">
    <a class="fa-solid fa-file-lines fa-2x icon-green link-detail"
       th:href="'@{/'+ ${moduleUrl} + '/detail/' + ${entityId}"></a>
</th:block>

<th:block th:fragment="sort_link(fieldName, displayName)">
    <a class="text-white"
       th:href="@{'/' + ${moduleUrl} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${displayName}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th:block>

<th:block th:fragment="status(entityId, status)">
    <a class="fa-2x fa-solid fa-circle-check"
       th:classappend="${status} ? 'icon-green' : 'icon-dark'"
       th:href="@{/{moduleUrl}/{id}/enabled/{status}(moduleUrl=${moduleUrl},id=${entityId},status=${!status})}"
    ></a>
</th:block>

<th:block th:fragment="edit(entityId)">
    <a class="fa-2x fa-solid fa-pen-to-square icon-green"
       th:href="@{/{moduleUrl}/edit/{id}(moduleUrl=${moduleUrl},id=${entityId})}"></a>
</th:block>

<th:block th:fragment="delete(entityId)">
    <a class="fa-2x fa-solid fa-trash icon-red link-delete"
       data-target="#deleteModal" data-toggle="modal" th:entityId="${entityId}"
       th:href="@{/{moduleUrl}/delete/{id}(moduleUrl=${moduleUrl},id=${entityId})}"></a>
</th:block>

<div th:fragment="pagination(entityName)" th:remove="tag">
    <div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${entityName}]] # [[${startCount}]] to
				[[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(1, 'First')}"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${currentPage - 1}, 'Previous')}"></a>
                </li>

                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}"><a
                        th:replace="~{fragments :: page_link(${i}, ${i})}"></a></li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${currentPage + 1}, 'Next')}"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<a th:fragment="page_link(pageNum, label)" class="page-link"
   th:href="@{'/' + ${moduleUrl} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">[[${label}]]</a>

<div class="text-center" th:fragment="footer">
    <p>TekTrove Control Panel - Copyright &copy; TekTrove</p>
</div>
</body>
</html>