<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::page_header('Login')}"></head>
<body class="bg-light">
<div class="container-fluid text-center">
    <div th:replace="~{fragments::header_menu}"></div>
    <div>
        <h2>Reset Your Password</h2>
    </div>
    <form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto">
        <input type="hidden" th:value="${token}" name="token"/>
        <div th:if="${message != null}">
            <p class="alert alert-warning" th:text="${message}">
        </div>
        <div class="border border-secondary rounded p-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your new password" required autofocus="autofocus" minlength="8" maxlength="15"/>
            <br/>
            <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm your new password" required minlength="8" maxlength="15" oninput="isConfirmPasswordMatchPassword(this)"/>
            <br/>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>
    <br/>
    <div th:replace="~{fragments::footer_menu}"></div>
</div>
<script>
    function isConfirmPasswordMatchPassword(confirmPassword) {
        if (confirmPassword.value !== $('#password').val()) {
            confirmPassword.setCustomValidity('Passwords do not match');
        } else {
            confirmPassword.setCustomValidity('');
        }
    }
</script>
</body>
</html>