<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::page_header(${pageTitle})}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments::header_menu}"></div>
    <div th:replace="~{fragments::search_form}"></div>
    <div th:replace="~{fragments::breadcrumb}"></div>

    <div class="row">
        <div class="col-sm">
            <div>
                <img th:src="@{${product.mainImagePath}}" id="bigImage" class="img-fluid"/>
            </div>
            <div class="row justify-content-center">
                <div class="m-2 border border-secondary">
                    <img class="image-thumbnail border-secondary" th:src="@{${product.mainImagePath}}" height="50"
                         index="0"/>
                </div>
                <th:block th:each="extraImage, status : ${product.images}">
                    <div class="m-2 border border-secondary">
                        <img class="image-thumbnail border-secondary" th:src="@{${extraImage.imagePath}}" height="50"
                             th:index="${status.count}"/>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h2 th:text="${product.name}"></h2>
            </div>
            <div>
                <p>Brand: [[${product.brand.name}]]</p>
            </div>
            <div>
                List Price: <span th:if="${product.discountPercent <= 0}">$ [[${product.price}]]</span>
                <del th:if="${product.discountPercent > 0}">$ [[${product.price}]]</del>
            </div>
            <div th:if="${product.discountPercent > 0}">
                Price: <span style="font-size: larger; color: darkred">$ [[${product.discountPrice}]]</span>
                ([[${product.discountPercent}]]% off)
            </div>
            <div>&nbsp;</div>
            <div th:utext="${product.shortDescription}"></div>
        </div>
        <div class="col-sm-2">
            <span th:if="${product.inStock}" class="text-success"><b>In Stock</b></span>
            <span th:unless="${product.inStock}" class="text-danger"><b>Out of Stock</b></span>
            <div class="mt-2">
                <input type="text" size="5" value="1"/>
            </div>
            <div class="mt-2">
                <input type="button" value="Add to Cart" class="btn btn-primary"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div>
                <hr/>
            </div>
            <div>
                <h3>Product Description:</h3>
            </div>
            <div th:utext="${product.fullDescription}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div>
                <hr/>
            </div>
            <div>
                <h3>Product Details:</h3>
            </div>
            <th:block th:each="detail : ${product.details}">
                <div>
                    <b th:text="${detail.name}"></b>: <span th:text="${detail.value}"></span>
                </div>
            </th:block>
        </div>
    </div>

    <div th:replace="~{fragments::footer_menu}"></div>
    <div th:replace="~{products/product_image_carousel::content}"></div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('.image-thumbnail').mouseover(function () {
            let bigImage = $('#bigImage');
            bigImage.attr('src', $(this).attr('src'));
            bigImage.attr('index', $(this).attr('index'));
        });
        $('#bigImage').click(function () {
            $('#carouseModal').modal('show');
            let imageIndex = parseInt($(this).attr('index'));
            $("#carouselExampleIndicators").carousel(imageIndex);
        });
    });
</script>
</html>