<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::page_header('Customer')}"></head>
<body>
<div th:replace="~{fragments::navbar}"></div>
<div class="container-fluid">
    <div>
        <h1>Manage Users</h1>
        <a th:href="@{/customers/new}" class="fas fa-folder-plus fa-2x"></a>
        <a class="fa-solid fa-file-csv fa-2x icon-dark" th:href="@{/customers/export/csv}"></a>
    </div>

    <form th:replace="~{fragments::search_form}"></form>

    <div th:if="${message != null}" class="alert alert-success text-center" th:text="${message}"></div>

    <div class="full-details">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>
                    <th:block th:replace="~{fragments::sort_link('id', 'Id')}"></th:block>
                </th>
                <th>
                    <th:block th:replace="~{fragments::sort_link('firstName', 'First Name')}"></th:block>
                </th>
                <th>
                    <th:block th:replace="~{fragments::sort_link('lastName', 'Last Name')}"></th:block>
                </th>
                <th class="responsive-column">
                    <th:block th:replace="~{fragments::sort_link('email', 'E-mail')}"></th:block>
                </th>
                <th class="responsive-column">
                    <th:block th:replace="~{fragments::sort_link('city', 'City')}"></th:block>
                </th>
                <th class="responsive-column">
                    <th:block th:replace="~{fragments::sort_link('state', 'State')}"></th:block>
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    <th:block th:replace="~{fragments::sort_link('country', 'Country')}"></th:block>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td class="responsive-column" th:text="${customer.email}"></td>
                <td class="responsive-column" th:text="${customer.city}"></td>
                <td class="responsive-column" th:text="${customer.state}"></td>
                <td th:text="${customer.country.name}"></td>
                <td>
                    <th:block th:replace="~{fragments::status(${customer.id}, ${customer.enabled})}"></th:block>
                </td>
                <td>
                    <th:block th:replace="~{fragments::detail(${customer.id})}"></th:block>
                    &nbsp;
                    <th:block th:replace="~{fragments::edit(${customer.id})}"></th:block>
                    &nbsp;
                    <th:block th:replace="~{fragments::delete(${customer.id})}"></th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="customer : ${customers}" class="row m-1">
            <div class="col-4">
                <span><b th:text="${customer.fullName}"></b></span>
            </div>
            <div class="col-8">
                <div th:text="${customer.country.name}"></div>
                <div class="mt-2">
                    <th:block th:replace="~{fragments::status(${customer.id}, ${customer.enabled})}"></th:block>
                    &nbsp;
                    <th:block th:replace="~{fragments::detail(${customer.id})}"></th:block>
                    &nbsp;
                    <th:block th:replace="~{fragments::edit(${customer.id})}"></th:block>
                    &nbsp;
                    <th:block th:replace="~{fragments::delete(${customer.id})}"></th:block>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="~{fragments::pagination('customer')}"></div>

    <div th:replace="~{fragments::footer}"></div>

    <div th:replace="~{modal_fragments::emptyModal}"></div>

    <div th:replace="~{modal_fragments::confirmModal}"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script>
    const moduleUrl = "[[@{/customers}]]";
</script>
</body>
</html>
